.footer {
    font-family: 'Roboto';
    background: #F3F3F3;
    .rodape-padding {
        padding: 20px 0;

        .mapa {
            filter: grayscale(1);
        }

        .logo-rodape {
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
            height: 100%;

            img {
                width: 55%;
            }
        }
    }
    .social-media {
        margin-bottom: 30px;
        .icon-social-media {
            line-height: 30px;

            img {
                width: 30px;
                height: 100%;
            }

            .fb-icon {
                display: inline-block;
                margin-right: 15px;
            }

            .ig-icon {
                display: inline-block;
            }
            a {
                color: #000;
            }

            .facebook-text {
                color: #000;
            }

            .instagram-text {
                color: #000;
            }
        }
    }

    .telefone-section {
        margin-top: 30px;
    }

    .endereco-section {
        margin-top: 30px;
    }

    .bottom-footer {
        height: 60px;
        background-color: black;
        width: 100%;
        position: relative;
        .rights {
            color: #fff;
            height: 100%;

            h3 {
                font-weight: 200;
                font-size: 12px;
                padding: 20px 40px;
                margin: 0;
                letter-spacing: 1px;
                display: flex;
                height: 100%;
                align-items: center;
                justify-content: center;
            }

        }

        .dev {
            position: absolute;
            right: 10px;
            top: 26px;
            cursor: default;

            h4 {
                color: #000;
                font-size: 8px;
                font-weight: 300;
                letter-spacing: 3px;

                &:hover {
                    color: #fff;
                    transition: 10s;
                }
            }
        }
    }
}