.quem-somos {
    font-family: 'Roboto';
    padding: 40px 0;

    .img-quem-somos {
        display: flex;
        justify-content: center;
        
        img {
            width: 100%;
        }
    }
    .text-quem-somos {
        .quem-somos-description {
            margin-top: 35px;
            span {
                line-height: 30px;
            }
        }
    }
}